<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Home | Food Friends</title>

  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/carousel/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


  <!-- Custom styles for this template -->
  <link href="css/home.css" rel="stylesheet">
</head>

<body onload="islogged()">

  <header>
    {{!-- <nav class="navbar navbar-expand-sm"> --}}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div>
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap" >
          <span class="nav-link" id="lastname"></span>
        </li>
        <li class="nav-item text-nowrap" id="loginbtn">
          <a class="nav-link" href="/usersReg">Login</a>
        </li>
        <li class="nav-item text-nowrap" id="signoutbtn">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <br>
    <br><br><br>
   
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" id="bussiness-informations">
        
      </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2022 Foodie Friends, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>



</body>
<script type="text/javascript" src="js/home.js"></script>

</html>